@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');


*{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    list-style-type: none;
    text-transform: capitalize;
    transition: .2s linear;
}

$green:#308089;
$dark-green:#1A3C40;
$white:#FFF;
$light-green: #779;
$off-white:#a5bebd;
$border:1rem solid $green;
$box-shadow:0 .5rem 1rem rgba(0,0,0,0.1);
$dark-shadow:0 0 0 100vw rgba(0,0,0,0.5);

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap:1.5rem;    
}

html{
    font-size: 62.5%;
    overflow-x: hidden;

    &::-webkit-scrollbar{
        width: 1rem;
    }

    &::-webkit-scrollbar-track{
        background:$green;
    }

    &::-webkit-scrollbar-thumb{
        background:$light-green;
    }
}


@keyframes up-down {
    from {transform: translateY(0px);}
    to {transform: translateY(10px);}
  }
.headers{
    position: sticky;
    background-color: $green;
    max-height: 69px;
    box-shadow: 0px 2px 13px $green;
    z-index: 100;
    .header{
       
        display: flex;
        align-items: center;
        justify-content: space-between;
       
        .logo{  
            font-size: 2.5rem;
            color: $white;
            font-weight: bolder;

            i{
                padding-right: .3rem;
            }
        }


        .navbar{

            height: 69px;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                font-size: 18px;
                margin: 0px 10px 0px 10px;
                color: $white;
                display:inline-block;
                transition: .5s linear;

                &.active{
                    
                    animation-name: up-down;
                    animation-duration: .3s;
                    animation-iteration-count: 2;
                    animation-direction: alternate;
                    animation-iteration-count: infinite;


                }
            }
        
            
        }

        

        #menu-btn{
            font-size: 22px;
            color: $white;
            display: none;
            cursor: pointer;
            
        }

    }
}
@keyframes fadeOut{

    0%{
        transform: scale(.5);
        opacity: 0;
    }

}

@keyframes fadeLeft{

    0%{
        transform: translateX(-5rem);
        opacity: 0;
    }

}

.home{

    margin-top: 150px;
     
    .container{

        width: 1100px;
        margin: auto;  

        .slide{
            
            display: flex;
            align-items: center;
            display: none;
        
            &.active{
                display: flex;
            }

            .content{
                display: flex;
                flex-direction: column;
                justify-content: center;
                animation: fadeLeft .4s linear;

                span, p{

                    
                    color: $light-green;
                    margin-top: 15px;
                }

                span{

                    font-size: 20px;
                }
                h3{

                    font-size: 40px;
                    color: $green;
                    margin-top: 15px;
                }

                p{
                    font-size: 15px;
                    line-height: 2  ;
                }
           
                a{
                    width: 120px;
                    height: 40px;
                    background-color: $green;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $white;
                    font-size: 15px;
                    margin-top: 15px;
                    
                    &:hover{

                        background-color: $dark-green;
                    }
                }

            }

            .image{
                display: flex;
                justify-content: center;
                margin-right: 15px;
                animation: fadeOut .4s linear;
            }
        }
    }

    .prev{
        left: 30px;
        border: 1px solid $dark-green;
        padding: 14px;
        width: 50px;
        height: 50px;
    }
    .next{
        right: 30px;
        border: 1px solid $dark-green;
        padding: 14px;
        width: 50px;
        height: 50px;
    }

    .prev, .next{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 70%;
        font-size: 30px;
    
        cursor: pointer;

        &:hover{
            color: $white;
            background-color: $dark-green !important;
        
        }

    }

}

.banner-main{

    margin-top: 100px;
    margin-bottom: 100px;
       

     .banners{
        display: flex;
        justify-content: space-between;
        
        .banner{
            position: relative;
            height: 25rem;
            overflow: hidden;

            .image{
                position: relative;
                max-width: 370px;    
                height: inherit;
                
                &:hover{
                    transform: scale(1.2); 
                }
            }

            .content{
                position: absolute;
                top: 32%;
                left: 8%;

                span{
                    color: $light-green;
                    font-size: 17px;
                }

                h3{

                    font-size: 20px;
                    color: $green;
                    margin-top: 13px;
                }
                p{

                    font-size: 15px;
                    line-height: 2  ;
                }
                a{
                    position: relative;
                    top: 25px;
                    margin-top: 10px;
                    background-color: $green;
                    padding: 10px;
                    width: 120px;
                    color: $white;
                    font-size: 15px;
                    cursor: pointer;

                    &:hover{

                        background-color: $dark-green;
                    }

                }
               
            }

        }

     }

}

// footer

.footer-main{

    .footer{

        display: flex;
        justify-content: space-between;
        margin-top: 80px;
        .box{

            display: flex;
            flex-direction: column;

            h3{
                color: $green;
                font-size: 20px;
               
            }

            p{
                margin-top: 10px;
                font-size: 15px;

            }

            form{

                .input1{
                    margin-top: 10px;
                    border: 1px solid $light-green;
                    padding: 8px;
                    width: 250px;
                }

                .input2{
                    margin-top: 10px;
                    background-color: $green;
                    padding: 10px;
                    width: 120px;
                    color: $white;
                    font-size: 15px;
                    cursor: pointer;


                    &:hover{
                        background-color: $dark-green;
                    }
                }

            }

            i{

                
                font-size: 13px;
                padding-top: 10px;
                padding-bottom: 10px;
                color: $green;

                a{
                    
                    margin-left: 10px;
                    font-size: 15px;
                    color: $light-green;
                    font-weight: 500;
                    transition: 0.3s linear;
    
                    &:hover{
                    
                        padding-left: 15px;
                    
                    }
                    
                }


            }
        
        
        }

        
    }
}

// start shop

.category{
    margin-top: 150px;
    h1{
        font-size: 25px;
        border-bottom: 1px solid $dark-green;
        padding-bottom: 20px;
        margin-bottom: 30px;
        color: $green;
    }
    .container{
        width: 1110;
        margin: auto;
        .box-container{

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            gap: 1.5rem;

            a{

                border: 1px solid $dark-green;
                padding: 20px;
                text-align: center;

                &:hover{

                    background: $green;

                    img{
                        filter: invert(1);
                    }

                    h3{
                        color: $white;
                    }
                    
                }
                
                img{
                    height: 6rem;
                    margin-bottom: 1rem;
                  
                }

                h3{
                   
                    font-size: 1.7rem;
                    color:$dark-green;

                }

            }
        }
    }
}

.product{
    margin-top: 30px;
    h1{
        font-size: 25px;
        border-bottom: 1px solid $dark-green;
        padding-bottom: 20px;
        margin-bottom: 30px;
        color: $green
    }

    .box-container{

        @include grid(26rem);
        .box{
            position: relative;
            background: #f2f2f2;
            overflow: hidden;

            &:hover{

                .icons{
                    top: 0;
                   
                }

                .image{

                    img{

                        transform: scale(1.2);
                    }
                }
            }
            .icons{
                position: absolute;
                top: -100%;
                left: 0;
                height: 300px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                background: rgba(242, 242, 242, 0.7);
                z-index: 10;
                
                
                a{
                    text-align: center;
                    height: 5rem;
                    line-height: 5rem;
                    width: 5rem;
                    background: #fff;
                    color: #244d4d;
                    font-size: 2rem;
                    box-shadow: 0 0.5rem 1rem $light-green;

                   &:hover{

                    background: $green;
                    color: $white;
                }
                }
            }

            .image{
                
                width: 100%;
                height: 300px;
                
                img{
                   
                   width: 100%;
                   transition: all 0.2s ease-out;

                }
            }

            .content{
                padding: 15px 20px;
                
                .price{
                    font-size:18px;
                    color:$light-green
                }

                h3{
                    font-size: 18px;
                    color: $green;
                }

                .stars{
                    font-size: 17px;
                    i{
                        color: gold;
                    }

                    span{

                    }
                }
            }
        }
    }


}

// global classes framework
.container{
    width: 1160px;
    margin: auto;
}

//media query
@media (max-width:675px){
    #menu-btn{
        display: block !important;
    }

    .links{
        
        display: none !important;

        &.active{
            background-color: $white;
            position:absolute;
            top: 69px;
            right: 0;
            width: 50%;
            height: 100vw;
            display: flex !important;
            flex-direction: column;
            align-items: center;
            box-shadow: $dark-shadow;
            justify-content: center;
            
        }
        
        a{
            margin: 10px 0 10px 0 !important;
            color: #000 !important;
            font-size: 22px !important;

            &.active{
                transform: translate(-10px, 0px) !important;
            }
        }
    }

}


@media (max-width:545px){

    #menu-btn{
        display: block !important;
    }

    .links{

        &.active{
            background-color: $white;
            position:absolute;
            top: 69px;
            right: 0;
            width: 50%;
            height: 110vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: $dark-shadow;
            justify-content: center;
            color: #000 !important;
            font-size: 22px !important;
        }
        
    }

}

@media (max-width:1300px){

    .home{

        .container{
        width: 900px;
        margin: auto;
        }
    }

}



